@use "./colors" as *;


:root {
    font-size: 10px;


    * {
        box-sizing: border-box;
    }
}

body {

    --background-image-desktop: url('/assets/home/background-home-desktop.jpg');
    --background-image-tablet: url('/assets/home/background-home-tablet.jpg');
    --background-image-mobile: url('/assets/home/background-home-mobile.jpg');

    margin: 0;
    padding-top: 4rem;
    width: 100vw;
    height: 100vh;
    background-image: var(--background-image-desktop);
    background-size: cover;
    background-position: center center;
    font-family: 'Barlow Condensed', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media screen and (max-width: "768px") {
        background-image: var(--background-image-tablet);


        padding-top: 0;

    }

    @media screen and (max-width: "600px") {
        background-image: var(--background-image-mobile);

    }
}


p {
    font-weight: 400;
    font-size: 1.8rem;
    // color: white;
    color: #D0D6F9;
    line-height: 3.2rem;
    margin: 0
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #383B4B;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 9.6rem);
    width: 100%;
    padding: 0 16.5rem;

    @media screen and (max-width: "768px") {
        padding: 0 3.9rem;
    }

    @media screen and (max-width: "600px") {
        padding: 0 2.4rem;

    }



}

h1,
h2,
h4 {
    font-family: 'Bellefair', serif;
    font-weight: 400;
    color: white;
    margin: 0;
}


h1 {
    font-size: 8rem;
    color: white;




    @media screen and (max-width: "600px") {

        font-size: 8rem;


    }


}

h2 {
    font-size: 10rem;
    color: white;


    @media screen and (max-width: "768px") {
        font-size: 8rem;


    }

    @media screen and (max-width: "600px") {
        font-size: 5.6rem;

    }
}

h4 {
    font-size: 3.2rem;
}


h5 {
    color: white;
    font-size: 2.8rem;

    letter-spacing: 4.72px;
    margin: 0;
    font-weight: 100;



    @media screen and (max-width: "768px") {
        font-size: 2rem;


    }

    @media screen and (max-width: "480px") {
        font-size: 1.6rem;

    }
}